tbody { column-count: 2; }

img {
  float: left;
  width: 300px;
  height: 500px;
}

a {
  margin-right: 30px;
  font-size: 25px;
}

.inicio { text-decoration: none; }

td a { text-align: center; }

.updateInfo { margin-left: 215px; }

.imagen { margin: 0px 25px 0px 16.5%; }

.plataforma { margin-bottom: 35px; }

.reset { clear: both; }

.enlaces { position: relative; }

h4 {
  font-size: 30px;
  font-weight: bold;
  float: left;
}

p { font-size: 20px; }
